:root {
  --accent-color: #2196f3;
  --body-color: #212121;
  --header-color: #ffffff;
  --logo-color: #000000;
  --description-color: #757575;
  --portfolio-btn-color: #f5f4fa;
  --hero-footer-backround: #2f303a;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --hover-focus-color: #188ce8;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
    display:flex;
    align-items: center;
}
 
.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: baseline;
    margin-left: auto;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--body-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.header {
  background-color: var(--header-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E5E5E5;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-right: 93px;
}

.logo-style {
  color: var(--accent-color);
}

.header-nav-margin:not(:last-child) {
    margin-right: 50px;
}

.header-mail-margin{
    margin-right: 50px;
}


.menu-elements {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--body-color);
}

.contacts-header { 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-color);
}

.menu-elements:hover,
.menu-elements:focus {
  color: var(--accent-color);
}

.mail:hover,
.mail:focus {
  color: var(--accent-color);
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}

.hero-section {
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
   url(../image/hero-bg.png);
  background-color: var(--hero-footer-backround);
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
}

.modal-btn {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--header-color);
  cursor: pointer;
  background-color: var(--accent-color);
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--hover-focus-color);
}


.main-title {
  width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.our-advantages{
    display: flex;
    justify-content: space-between;

}

.our-advantages-item {
width: 270px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-zero-padding {
  padding-top: 0;
}

.properties {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.work-description {
  line-height: 1.71;
  color: var(--description-color);
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.about-work {
    display: flex;
    justify-content: space-between;
    flex-basis: calc(100% - 90px) / 3
}

.employees {
    display: flex;
    justify-content: space-between;
}

.employees-card:not(:nth-child(4n)) {
margin-right: 30px;
flex-basis: calc(100% - 120px) / 4;
}

.employees-content-wrapper{
background-color: var(--header-color);
border-bottom: 1px solid #E5E5E5;
border-radius: 4px;
padding-top: 30px;
padding-bottom: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
 0px 1px 1px rgba(0, 0, 0, 0.14), 
 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--header-color);
  border-radius: 50%;
  margin-bottom: 0; 
}

.icon-bg-color {
  background: rgba(255, 255, 255, 0.1);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
fill: var(--header-color);
background-color: var(--accent-color);
width: 44px;
height: 44px;
border-radius: 50%;
border: solid var(--accent-color);
}

.social-list-icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}


.social-list-footer-icon {
  fill: var(--header-color);
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.about-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
  margin-bottom: 16px;
}

.team-background-color {
  background-color: var(--portfolio-btn-color);
}

.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
  display: block;
  margin-bottom: 20px; 
}

.contacts-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-footer-color);
  ;
}

.footer-color {
  background-color: var(--hero-footer-backround);
  padding-top: 60px;
  padding-bottom: 60px;
}

.backround-portfolio {
  background-color: var(--header-color);
}

.second-main-portfolio {
  color: var(--body-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.about-projects {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.9;
  color: var(--description-color);
}

a:hover,
a:focus {
  color: var(--accent-color);
  background-color: var(--contacts-footer-color);
}

.portfolio-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 500;
  font-size: 16px;
  border: 1px;
  border-radius: 4px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--portfolio-btn-color);

}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--header-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-btn-line {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-margin:not(:last-child) {
  margin-right: 8px;
}

.adress-retreats:not(:last-child) {
  margin-bottom: 9px;
}

.portfolio-resume {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.portfolio-resume-card:not(:nth-child(3n)) {
margin-right: 30px;
}

.portfolio-resume-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
  }


.portfolio-content-wrapper {
  background-color: var(--header-color);
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-resume-card:hover,
.portfolio-resume-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.envelope {
margin-right: 10px;
fill: var(--description-color);
}

.envelope:hover,
.envelope:focus {
  fill: var(--accent-color);
}

.smartphone {
margin-right: 10px;
fill: var(--description-color);
}

.smartphone:hover,
.smartphone:focus {
  fill: var(--accent-color);
}

.our-advantages-icons:not(:last-child) {
  display: flex;
  background-color: var(--portfolio-btn-color);
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
}

.client-section {
  margin-top: 94px;
}

.clients-company {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .clients-company-item:not(:last-child) {
   margin-right: 30px;
  } 
  
  .clients-content-wrapper{
    display: flex;
    background-color: var(--header-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    }
  
    .client-list-icon:hover,
    .client-list-icon:focus{
      fill: var(--accent-color);
    }
  
    .clients-content-wrapper:hover,
    .clients-content-wrapper:focus {
      border: 1px solid var(--accent-color);
      border-radius: 4px;   
    }

    
  .footer-list-icon {
    display: flex;
    flex-wrap: wrap;
    width: 206px;
    height: 80px;
    margin-top: 15px;
  }


    .invitation {
      color: var(--header-color);
      font-weight: 700;
      margin-bottom: 20px;
      line-height: 1.3;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    .client-list-icon {
      fill: #AFB1B8;
    }

    .footer-box {
      display: flex;
    }

    .block {
      display: block;
      margin-right: 70px;
    }